<form [formGroup]="checkboxForm" (ngSubmit)="submit()">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8">
        @for(product of products; track product){
        <div class="card shadow my-3">
          <div
            class="card-body d-flex flex-row align-items-center justify-content-between p-3 mb-3"
          >
            <div class="card-title">
              <h2>{{ product.title }}</h2>
              <p>{{ product.description }}</p>
            </div>
            <div class="price">
              <h2>{{ product.price }}€</h2>
            </div>
            <div formGroupName="selectedProducts">
              <div class="form-check">
                <label class="form-check-label" for="checkbox-{{ product.id }}"
                  >Add</label
                >
                <input
                  id="checkbox-{{ product.id }}"
                  class="form-check-input"
                  type="checkbox"
                  [checked]="selectedCheckboxes[product.id] || false"
                  (change)="onCheckboxChange(product.id, $event)"
                  value="{{ product.price }}"
                  [formControlName]="product.id"
                />
              </div>
            </div>
          </div>
          <div
            *ngIf="product.id === 3 && selectedCheckboxes[3]"
            class="d-flex justify-content-end w-100"
          >
            <app-panel
              [pages]="pages"
              [lang]="lang"
              (numPages)="updatePages($event)"
              (numLanguages)="updateLang($event)"
            >
            </app-panel>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-xl-8">
        <div
          class="card d-flex flex-row align-items-center justify-content-end"
        >
          <h4>Budgeted price:</h4>
          <div class="total-price mx-5">
            <h2>{{ totalPrice() }} €</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
